.sendMsg input:focus{
    
    border: 2px solid var(--color-purple-strong);
    outline: none;

}

.sent {
    background-color: #395dff;
  
    border-top-right-radius: 1000px;
    flex-direction: row-reverse;
    padding: 20px 20px 0 10px;
    text-align: end;
    float: right;
  }
  
  .received {
    border: 1px solid lightgray;
    background-color: #FAFAFA;
    border-top-left-radius: 1000px;
    float: left;
  }