:root {
    --color-neutral:#F3F3F3;
    --color-purple-strong:#5c2c94;
    --color-blue-strong: #04acec;
    --color-blue-light: #04acec;
    --color-purple-light: #f1e2ff;
    --color-blue-extra-light: #d9eaff;
  }
  .m-signIn button{
    background-color: rgb(71, 65, 65);
    color: var(--color-purple-light); 
}
.m-signIn button{
    background-color: var(--color-purple-light);
    color: aliceblue; 
}

.m-signIn button{
    background-color: rgb(71, 65, 65);
    color: var(--color-purple-light); 
}

.m-container-chat{
    background-color: var(--color-blue-extra-light);
}
.siginOut{
    background-color: var(--color-neutral);
}
.msgs{
    background-color: var(--color-neutral);
}
.m-content-footer-chat input{
    border: 1px solid var(--color-blue-strong);
}
.sendMsg button{
    background-color: transparent;
    color: var(--color-purple-strong);
}
.sent{
    background-color: var(--color-blue-extra-light);

}
.received{
    background-color: var(--color-purple-light);

}